{% extends "authenticate/base.html" %}
{% block title %}
    Add Post - My Blog
{% endblock %}

{% block content %}
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4 class="text-center">Add a New Post</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <a href="{% url 'home' %}"><button type="submit" class="btn btn-primary">Publish</button></a>
                </form>
            </div>
        </div>
    </div>
{% endblock %} 