{% extends "authenticate/base.html" %}
{% load static %}
{% block title %}
Change Password - My Blog
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
            <h2 class="text-center mb-4">Change Password</h2>
            <div id="message">
              {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
              {% endif %}
            </div>
            <form id="forgotPasswordForm">
                <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" style="height: 5px;">
                </div>
                <a href="{% url 'home' %}" class="btn btn-secondary mb-2" style="width: auto;float: left;">Back</a>
                <button type="button" id="resetPassword" class="btn btn-primary" style="width: auto;float: right;">Reset Password</button>
            </form>
            </div>
        </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#resetPassword').on('click',function() {
          var email = $('#email').val();
          if (email === '') {
            $('#message').html('<div class="alert alert-danger" role="alert">Please fill in all fields</div>');
            return false;
          }
          else{
            return true;
          }
        });
      });
    </script>
{% endblock %}