{% extends "authenticate/base.html" %}
{% load static %}
{% block title %}
    Home - My Blog
{% endblock %}
    
{% block content %}
<br>
    <div class="container">
        <div class="row">
            <h4>Blogs</h4>
            <div class="col-md-9 col-lg-9" style="height: 450px;">
                <!-- List of all the blogs -->
                    {% for post in posts %}
                        <div class="card m-1">
                            <div class="card-body">
                                <p class="text-muted">{{ post.name }} - {{ post.date_posted|date:"jS F Y" }}</p>
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p style="width: auto; ">{{ post.content|truncatewords:30 }}</p>
                                <a href="{% url 'post_details' post.id %}" class="btn btn-primary">Read More</a>
                                <div style="float: right;">
                                    {{ post.comments.count }}
                                    <span class="material-symbols-outlined me-3">comment</span>
                                </div>
                                <div style="float: right;">
                                    <span class="like-count">{{ post.likes.count }}</span>
                                    <!-- added data-post-id here -->
                                    <span class="material-symbols-outlined like-btn me-3" data-post-id="{{ post.id }}" style="cursor:pointer;">
                                        favorite
                                    </span>
                                </div>

                            </div>
                        </div>
                    {% endfor %} 
            </div>
            <div class="col-md-2 col-lg-3" style="height: 450px;">
                <!-- Sidebar -->
                <div class="card m-1">
                    <h2 class="card-title ms-3 mt-2 me-3">Explore</h2>
                    <p class="ms-3 m-1">Navigate through blog features easily</p>

                    <div class="card p-2 ms-2 m-1 me-2">Latest Post
                        <span class="material-symbols-outlined" style="position: absolute;right: 4%;">
                            text_ad
                        </span>
                    </div>
                    <div class="card p-2 ms-2 m-1 me-2">Announcement
                        <span class="material-symbols-outlined" style="position: absolute;right: 4%;">
                            campaign
                        </span>
                    </div>
                    <div class="card p-2 ms-2 m-1 mb-2 me-2">Calendar
                        <span class="material-symbols-outlined" style="position: absolute;right: 4%;">
                            calendar_month
                        </span>
                    </div>
                </div>

                    
            </div>
        </div>
    </div>
<script>
$(document).ready(function(){
    $(".like-btn").click(function(e){
        e.preventDefault();

        let btn = $(this);
        let postId = btn.data("post-id");
        let countSpan = btn.siblings(".like-count"); // select the number next to it

        $.ajax({
            url: "{% url 'like' %}",  
            method: "POST",
            data: {
                'post_id': postId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response){
                countSpan.text(response.likes_count); // update number ✅

                // toggle color if liked
                if(response.liked){
                    btn.css("font-variation-settings", "'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24");
                    btn.css("color", "red");
                } else {
                    btn.css("font-variation-settings", "'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24");
                    btn.css("color", "black");
                }

            },
            error: function(){
                alert("Something went wrong!");
            }
        });
    });
});
</script>

{% endblock %}    
